extends layout

block content
	header#main-header
		div#account-name
			img(src=picSrc)
			span @#{accountName}
		form#tweet-writer
			textarea(id='tweet-input', placeholder='Write tweet...')
			input(type='submit', id='tweet-submit', value='Post')
		div#header-buttons
			div.header-btn
				div#tweets-btn.button-icon.selected
			div.header-btn
				div#mentions-btn.button-icon
			div.header-btn
				div#favorites-btn.button-icon
			div.header-btn
				div#retweets-btn.button-icon
			div.header-btn
				div#followers-btn.button-icon

	section#main-section.swipe
		div.swipe-wrap
			section#tweets.info-box
				div.content
					div.tweet-item Loading...

			section#mentions.info-box
				div.content
					div.tweet-item Loading...

			section#favorites.info-box
				div.content
					div.tweet-item Loading...

			section#retweets.info-box
				div.content
					div.tweet-item Loading...

			section#followers.info-box
				div.content
					div.tweet-item Loading...

	footer#bottom-menu
		section
			div.home-btn.bottom-btn &nbsp;
			div.account-btn
				div.inner-account-btn A
			div.extreme-btn.bottom-btn X
		section#account-list
		section#account-adder
			span#add-account-btn + Add Account

	section#auth-overlay.overlay
		div#close-overlay.close-overlay X
		div#auth-box.overlay-box
		div.overlay-bg-cover

	section#reply-overlay.overlay
		div#close-reply-overlay.close-overlay X
		div#reply-box.overlay-box
			form#reply-writer
				textarea(id='reply-input', placeholder='Write reply...')
				input(type='hidden', id='is-reply-to', value='0')
				input(type='submit', id='reply-submit', value='Post')
		div.overlay-bg-cover

	script(src="javascripts/swipe.js")
	script(src="javascripts/main.js")