extends layout

block content
	h1= title
	p You have not created an account yet. Please register below:

	form(method='post',action='?')
		div
			label(for='username') Username:
			input(type='text',name='username',id='username',value='#{username}') 
		div       
			label(for='password') Password:
			input(type='password',name='password',id='password')
		div 
			input(type='submit',name='register_submit',value='Register')